<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Create Receipt</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <ion-item lines="none">
          <ion-label>
            {{this.todayDate.toISOString().split('T')[0]}}
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-button size="small" color="danger" (click)="onCLickClearAll()">CLEAR ALL</ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="margin-class">
      <ion-col size="12">
        <ion-item>
          <ion-input type="text" [(ngModel)]="customerDetails.customerName" name="customerName" placeholder="Customer Name*" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="margin-class">
      <ion-col size="12">
        <ion-item>
          <ion-input type="tel" [(ngModel)]="customerDetails.customerPhoneNo"  name="phoneNo" placeholder="Phone No"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="margin-class">
      <ion-col size="12">
        <ion-item>
          <ion-input type="email" [(ngModel)]="customerDetails.email"  name="cusomteremail" placeholder="Email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>


    <ion-card>
      <form #f="ngForm" (ngSubmit)="submitServiceAddForm(f)">
      <ion-card-header>Add Services</ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button expand="block" color="dark" fill="outline" (click)="presentActionSheet();">{{this.selectedJobType}}</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-list>
                  <ion-select placeholder="Select Service" ngModel name="serviceType" required>
                    <ion-select-option *ngFor="let serviceItem of frontEndserviceList" value="{{serviceItem}}">{{serviceItem}}</ion-select-option>
                  </ion-select>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="8">
                <ion-input class="inputTextClass" type="tel" ngModel name="servicePrice" placeholder="Enter Price" required></ion-input>
            </ion-col>
            <ion-col size="4">
                <ion-input class="inputTextClass" type="number" [(ngModel)]="defaultValue" name="serviceQuantity" required></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-textarea rows="3" ngModel name="serviceDescription" placeholder="Description"></ion-textarea>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="5">
              <ion-button color="danger" (click)="onClickDeleteService()">
                CLEAR
                <ion-icon slot="end" name="trash-outline"></ion-icon>
              </ion-button>
            </ion-col>

            <ion-col size="7">
              <ion-button expand="block" color="success" type="submit" [disabled]="!f.valid">
                ADD
                <ion-icon slot="end" name="add-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </form>
    </ion-card>

    <ion-row>
      <ion-col>
        <ion-list *ngFor="let jobItem of receiptServiceItems">
          <ion-item>
            <table cellpadding="0" cellspacing="0" style="width: 100%;line-height: inherit;text-align: left;">
              <td colspan="3" style="padding: 5px;vertical-align: top; text-align: left;">
                <ion-label>{{jobItem.serviceType}}</ion-label>
                <ion-text style="font-size: 12px;">{{jobItem.description}}</ion-text>
              </td>
              <td colspan="3" style="padding: 5px;vertical-align: top; text-align: right;">
                <ion-label>{{jobItem.price*jobItem.qty}}</ion-label>
              </td>
            </table>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- invoice view starts here -->
  <div id="PrintInvoice" class="invoice-box"
  style="max-width: 800px;margin: auto;padding: 30px;border: 1px solid #eee;box-shadow: 0 0 10px rgba(0, 0, 0, .15);font-size: 16px;line-height: 24px;font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;color: #555;">
  <table cellpadding="0" cellspacing="0" style="width: 100%;line-height: inherit;text-align: left;">
    <tr class="top">
      <td colspan="3" style="padding: 5px;vertical-align: top;">
        <table style="width: 100%;line-height: inherit;text-align: left;">
          <tr>
            <td class="title"
              style="padding: 5px;vertical-align: top;padding-bottom: 20px;font-size: 45px;line-height: 45px;color: #333;">
              <img src="{{companyLogo}}" style="width:100%; max-width:130px;">
            </td>

            <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
              <span style="font-size: 32px;">TAX INVOICE</span>
              <br>
              <span style="font-size: 24px;">No: A{{this.databaseService.receiptNoFromDatabase.availableSaleReceiptNo}}</span>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="information">
      <td colspan="3" style="padding: 5px;vertical-align: top;">
        <table style="width: 100%;line-height: inherit;text-align: left;">
          <tr>
            <td style="padding: 5px;vertical-align: top;padding-bottom: 40px;">
              <p style="font-size: 17px; line-height: 1.5;">
                Tapsy Services PTY LTD
                <br>
              817 Logan Road
              <br>
              Holland Park West
              <br>
              QLD 4121
              </p>
            </td>

            <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 40px;">
              <span style="font-size: 17px;">Date: {{todayDate.toISOString().split('T')[0]}}</span>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="information">
      <td colspan="2" style="padding: 5px;vertical-align: top;">
        <table style="width: 100%;line-height: inherit;text-align: left;">
          <tr>
            <td style="padding: 5px;vertical-align: top;padding-bottom: 40px;">
              <span style="font-size: 17px;">Bill to:</span>
              <br>
              <span style="font-size: 18px;">Name: {{customerDetails.customerName}}</span>
              <br>
              <span *ngIf="customerDetails.customerPhoneNo !== ''" style="font-size: 18px;">Phone: {{customerDetails.customerPhoneNo}}</span>
              <br>
              <span *ngIf="customerDetails.email !== ''" style="font-size: 18px;">email: {{customerDetails.email}}</span>

            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="heading">
      <td style="padding: 5px;vertical-align: top;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
        DESCRIPTION
      </td>

      <td
        style="padding: 5px;vertical-align: top; text-align: right;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
        QTY
      </td>

      <td
        style="padding: 5px;vertical-align: top; text-align: right; background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
        AMOUNT
      </td>
    </tr>

    <tr *ngFor="let item of receiptServiceItems" class="item">
      <td style="padding: 5px;vertical-align: top;border-bottom: 1px solid #eee;">
        {{item.serviceType}} - {{item.description}}
      </td>

      <td style="padding: 5px;vertical-align: top;text-align: right; border-bottom: 1px solid #eee;">
        {{item.qty}}
      </td>

      <td style="padding: 5px;vertical-align: top; text-align: right; border-bottom: 1px solid #eee;">
        ${{item.price*item.qty| number : '1.2-2'}}
      </td>
    </tr>


    <tr class="total" style="margin-top: 20px;">
      <td style="padding: 5px;vertical-align: top;"></td>

      <td style="padding: 5px;vertical-align: top;text-align: right;font-size: 16px;">
        <span>SUBTOTAL</span>
        <br>
        <span>GST</span>
        <br>
        <span>TOTAL</span>
        <br>
        <span>AMOUNT DUE</span>
        <br>
      </td>

      <td style="padding: 5px;vertical-align: top;text-align: right;border-bottom: 1px solid #eee;font-size: 16px;">
        <span>${{(this.receiptSubTotal/10)*9 | number : '1.2-2'}}</span>
        <br>
        <span>${{this.receiptSubTotal/10 | number : '1.2-2'}}</span>
        <br>
        <span style="font-weight: bold;">${{this.receiptSubTotal | number : '1.2-2'}}</span>
        <br>
        <span>$0.00</span>
        <br>
      </td>
    </tr>
  </table>
</div>
  <!-- invocie view ends here -->

</ion-content>
<ion-footer>
  <ion-toolbar>
    <div *ngIf="customerDetails.customerName !== '' && receiptServiceItems.length !== 0">
      <ion-button (click)="_printReceipt()" color="success" expand="block">Print Receipt</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>

