<!-- <ion-header>
  <ion-toolbar>
    <ion-title>test-printing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="_onClickPrintInstrauctions()">Print</ion-button>

</ion-content> -->

<ion-header>
  <ion-toolbar color="danger">
    <ion-title class="title-ios ion-text-capitalize">Order Invoice</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <p>{{this.printFile}}</p>
  <div id="PrintInvoice" class="invoice-box"
    style="max-width: 800px;margin: auto;padding: 30px;border: 1px solid #eee;box-shadow: 0 0 10px rgba(0, 0, 0, .15);font-size: 16px;line-height: 24px;font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;color: #555;">
    <table cellpadding="0" cellspacing="0" style="width: 100%;line-height: inherit;text-align: left;">
      <tr class="top">
        <td colspan="3" style="padding: 5px;vertical-align: top;">
          <table style="width: 100%;line-height: inherit;text-align: left;">
            <tr>
              <td class="title"
                style="padding: 5px;vertical-align: top;padding-bottom: 20px;font-size: 45px;line-height: 45px;color: #333;">
                <img src="{{companyLogo}}" style="width:100%; max-width:130px;">
              </td>

              <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
                <span style="font-size: 32px;">TAX INVOICE</span>
                <br>
                <span style="font-size: 24px;">No: A102</span>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr class="information">
        <td colspan="3" style="padding: 5px;vertical-align: top;">
          <table style="width: 100%;line-height: inherit;text-align: left;">
            <tr>
              <td style="padding: 5px;vertical-align: top;padding-bottom: 40px;">
                <p style="font-size: 17px; line-height: 1.5;">
                  Tapsy Services PTY LTD
                  <br>
                817 Logan Road
                <br>
                Holland Park West
                <br>
                QLD 4121
                </p>
              </td>

              <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 40px;">
                <span style="font-size: 17px;">Date: 2022/02/22</span>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr class="information">
        <td colspan="2" style="padding: 5px;vertical-align: top;">
          <table style="width: 100%;line-height: inherit;text-align: left;">
            <tr>
              <td style="padding: 5px;vertical-align: top;padding-bottom: 40px;">
                <span style="font-size: 17px;">Bill to:</span>
                <br>
                <span style="font-size: 18px;">Name: Chalana Muthukuda</span>
                <br>
                <span style="font-size: 18px;">Phone: 0451717787</span>
                <br>
                <span style="font-size: 18px;">email: chalana.viraj@yahoo.com</span>

              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr class="heading">
        <td style="padding: 5px;vertical-align: top;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
          DESCRIPTION
        </td>

        <td
          style="padding: 5px;vertical-align: top; text-align: right;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
          QTY
        </td>

        <td
          style="padding: 5px;vertical-align: top; text-align: right; background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
          AMOUNT
        </td>
      </tr>

      <tr *ngFor="let item of receiptServiceItems" class="item">
        <td style="padding: 5px;vertical-align: top;border-bottom: 1px solid #eee;">
          {{item.description}}
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right; border-bottom: 1px solid #eee;">
          1
        </td>

        <td style="padding: 5px;vertical-align: top; text-align: right; border-bottom: 1px solid #eee;">
          ${{item.price | number : '1.2-2'}}
        </td>
      </tr>


      <tr class="total" style="margin-top: 20px;">
        <td style="padding: 5px;vertical-align: top;"></td>

        <td style="padding: 5px;vertical-align: top;text-align: right;font-size: 16px;">
          <!-- Total: ${{order.grandTotal}} -->
          <span>SUBTOTAL</span>
          <br>
          <span>GST</span>
          <br>
          <span>TOTAL</span>
          <br>
          <span>AMOUNT DUE</span>
          <br>
        </td>

        <td style="padding: 5px;vertical-align: top;text-align: right;border-bottom: 1px solid #eee;font-size: 16px;">
          <!-- Total: ${{order.grandTotal}} -->
          <span>$119.00</span>
          <br>
          <span>$20.00</span>
          <br>
          <span style="font-weight: bold;">$139.00</span>
          <br>
          <span>$0.00</span>
          <br>
        </td>
      </tr>
    </table>
  </div>
</ion-content>

<ion-footer (click)="downloadInvoice()">
  <ion-toolbar color="success" class="ion-padding-horizontal">
    <div class="ion-text-center">
      <h4 class="ion-no-margin">Download Invoice</h4>
    </div>
  </ion-toolbar>
</ion-footer>
